doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")

  body
    .title-wrapper
      h3 
        a(href="/") Bitstation Player
    .body-wrapper
      block content
